{% extends 'base.html' %}

{% block content %}
<h1>Research Materials</h1>
<table>
    <thead>
        <tr>
            <th>Title</th>
            <th>Author</th>
            <th>Publication Date</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for material in materials %}
        <tr>
            <td>{{ material.title }}</td>
            <td>{{ material.author }}</td>
            <td>{{ material.publication_date }}</td>
            <td>
                <a href="{{ url_for('download_research_material', material_id=material.id) }}">Download</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}